<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @relationship_status.description %>
</p>

<%= link_to 'Edit', edit_relationship_status_path(@relationship_status) %> |
<%= link_to 'Back', relationship_statuses_path %>
